.list-item {
  flex: 11;
 
  padding-left: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 
  > h2 {
    flex: 3;
    font-weight: 400;
    font-size: 20px;
  }
  > p {
    flex: 1;
  }
}
